html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
    font-weight: lighter;
}

.green {
    color: #4BB485;
}

.blue {
    color: #1DA0CA;
}



/*   --- Menu ---   */

#menu {
    position: fixed;
    z-index: 10;
    top: 0;

    width: 100%;
    height: 3.5em;

    background: white;
    box-shadow: 0 0 5px gray;
}

#monogramme {
    width: 7em;
    background: white;

    padding: 8px;
    margin-top: 3.5em;
    border-radius: 50%;
}



/*   --- Cover ---   */

#cover {
    width: 100%;
    height: 100%;

    background-image: url("../img/cover.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    flex-direction: column;
}

.cover-title {
    color: white;
    text-shadow: 0 0 10px black;
}

.cover-btn {
    border-radius: 50px;
    width: 7%;

    transition: background-image 0.2s;

    background-image: -webkit-gradient(linear, left, right, from(#1DA0CA), to(#5CC2DC));
    background-image: -webkit-linear-gradient(left, #1DA0CA, #5CC2DC);
    background-image: -moz-linear-gradient(left, #1DA0CA, #5CC2DC);
    background-image: linear-gradient(to right, #1DA0CA, #5CC2DC);
}

.cover-btn:hover {

    background-image: -webkit-gradient(linear, left, right, from(#1885A8), to(#52ADC4));
    background-image: -webkit-linear-gradient(left, #1885A8, #52ADC4);
    background-image: -moz-linear-gradient(left, #1885A8, #52ADC4);
    background-image: linear-gradient(to right, #1885A8, #52ADC4);
}



/*   --- Présentation ---   */

#presentation {
    justify-content: initial;
    margin-top: 3%;
}

#presentation:hover #graphiste, #presentation:hover #developpeur {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.3s, opacity 0.5s;
}

#pres {
    flex-direction: column;
}

.sub {
    margin-bottom: 0 !important;
}

#photo {
    margin-top: 3%;
    width: 60%;
    border-radius: 50%;
}

#fleches {
    margin-top: -2%;
    width: 40%;
}

#graphiste {
    text-align: right;
    transform: translateX(100%);
    opacity: 0;

    transition: transform 0.4s, opacity 0.2s;
}

#developpeur {
    transform: translateX(-100%);
    opacity: 0;

    transition: transform 0.4s, opacity 0.2s;
}

.btn {
    width: 70%;
    margin-top: 20%;
    border-radius: 50px;

    transition: all 0.2s;
}
.btn-green {
    color: #4BB485 !important;
    border: 2px solid #4BB485 !important;
}

.btn-green:hover {
    color: white !important;

    background-image: -webkit-gradient(linear, left, right, from(#4BB485), to(#7CBE6D));
    background-image: -webkit-linear-gradient(left, #4BB485, #7CBE6D);
    background-image: -moz-linear-gradient(left, #4BB485, #7CBE6D);
    background-image: linear-gradient(to right, #4BB485, #7CBE6D);
}

.btn-green:focus {
    background: none !important;
    color: #4BB485 !important;
}

.btn-blue {
    color: #1DA0CA !important;
    border: 2px solid #1DA0CA !important;
}

.btn-blue:hover {
    color: white !important;

    background-image: -webkit-gradient(linear, left, right, from(#1DA0CA), to(#5CC2DC));
    background-image: -webkit-linear-gradient(left, #1DA0CA, #5CC2DC);
    background-image: -moz-linear-gradient(left, #1DA0CA, #5CC2DC);
    background-image: linear-gradient(to right, #1DA0CA, #5CC2DC);
}

.btn-blue:focus {
    background: none !important;
    color: #1DA0CA !important;
}

.button.is-primary.is-outlined:hover {
    background-color: transparent;
}

.fa {
    margin-right: 0.5vw !important;
}
